.warningNotification{
    color: #856404;
    background-color: #fff3cd;
    position: relative;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid #ffeeba;
    border-radius: .25rem;
    box-sizing: border-box;
    font-size: 1rem;
}

